.perfil-foto {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  
  .nome {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .resumo {
    font-size: 18px;
    margin-top: 20px;
  }
  
  @media (max-width: 576px) {
    .perfil-foto {
      width: 150px;
      height: 150px;
    }
  
    .nome {
      font-size: 24px;
    }
  
    .resumo {
      font-size: 16px;
    }
  }
  